<nav class="px  -5 mb-5 navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">LPDTV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav justify-content-lg-between">
            <li class="nav-item ">
                <a class="nav-link" href="/registro">Regístrate</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/ingreso">Ingresa</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/perfil">Perfil</a>
            </li>
        </ul>
    </div>
</nav>