<div class="py-4">
    <h2>Agrega canciones a tu playlist</h2>
    <hr class="w-50" />
  
    <form action="/canciones" method="POST">
        <div class="form-group row w-50 m-auto">
            <div class="form-group col-12 col-sm-6">
                <label>Titulo</label>
                <input name="titulo" class="form-control m-auto" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Álbum</label>
                <input name="album" class="form-control m-auto" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Artista</label>
                <input name="artista" class="form-control m-auto" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Comentario</label>
                <input name="comentario" class="form-control m-auto" />
            </div>
            <div class="form-group col-12">
                <label>Enlace</label>
                <input name="enlace" class="form-control m-auto" />
            </div>
  
        </div>
        <div class="mb-1">
            <button class="btn btn-primary" id="agregarCancion">Agregar Canción</button>
        </div>
    </form>
 </div> 
<script>
    if (!localStorage.getItem('token')) {
        window.location.replace = "/ingreso";
    }

    //async function obtenerUsuarios() {
    //    const { data } = await axios.get('/usuarios');
    //    console.log(data);
    //}
    //obtenerUsuarios();
</script>

