<div class="py-4">
   <h2>Crea tu Playlist</h2>
   <hr class="w-50" />
 
   <form action="/playlists" method="POST">
       <div class="form-group row w-50 m-auto justify-content-center">
            <div class="form-group col-12 col-sm-6">
                <label>Titulo</label>
                <input name="nombre_playlist" class="form-control m-auto" />
            </div> 
        </div>
           <button class="btn btn-primary mb-1" id="agregarCancion">Agregar Canción</button>
   </form>
   <button class="btn btn-danger" id="borrarPlaylist">Eliminar cuenta</button>
</div>
 
<script>
   const borrarPlaylist = document.getElementById("borrarPlaylist")
 
   const id = `{{playlist .id}}`
   borrarPlaylist.addEventListener("click", async () => {
 
       try {
           const { data: token } = await axios.delete(`/playlists/${id}`)
           alert("Playlist eliminada")
           window.location = `/`
       } catch ({ response }) {
           const { data } = response
           const { error } = data
           alert(error)
       }
   })
 
   const form = document.querySelector("form")
 
   form.addEventListener("submit", async (e) => {
       e.preventDefault()
 
       let [nombre_playlist] = document.querySelectorAll("input")
 
       nombre_playlist = nombre_playlist.value

       const playlist = {
           nombre_playlist,
           id_usuario: `{{user.id}}`
           fecha_creacion: `{{playlist.fecha_creacion}}`
       }
       try {
           await axios.post("/playlists", playlist)
           alert("Playlist creada con éxito")
           window.location = "/"
       } catch ({ response }) {
           const { data } = response
           const { error } = data
           alert(error)
       }
 
   })
</script>

