<div class="py-4">
   <h2>Renombra tu Playlist</h2>
   <hr class="w-50" />
 
   <form action="/playlists" method="PUT">
       <div class="form-group row w-50 m-auto justify-content-center">
            <div class="form-group col-12 col-sm-6">
                <label>Titulo</label>
                <input name="nombre_playlist" class="form-control m-auto" />
            </div> 
        </div>
           <button class="btn btn-primary mb-1" id="renombrarPlaylist">Renombrar</button>
   </form>
   <button class="btn btn-danger" id="borrarPlaylist">Vaciar Playlist</button>
</div>
 
<script>
</script>

