<div class="py-4">
  <h2>Un registro pústumo de tu soundtrack</h2>
<div class="py-4">
  <hr class="w-50" />
  <div><a href="/registro"><button class="btn btn-danger m-1" id="registrarUsuario">Regístrate</button></a></div>
  <div><a href="/ingreso"><button class="btn btn-primary m-1" id="ingresoUsuario">Ingresa</button></a></div>
</div>
<script>
</script>