<div class="py-5">
  <h2>Iniciar Sesión</h2>
  <hr class="w-50" />

  <form id="formIngreso">
    <div class="form-group">
      <div class="form-group">
        <label>Email</label>
        <input id="email" type="email" value="ejemplo1@mail.com" name="email" class="form-control w-50 m-auto" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input id="password" name="password" type="password" value="encriptado1" class="form-control w-50 m-auto" />
      </div>
    </div>
    <button type="submit" class="btn btn-primary m-1" id="ingresoUsuario">Ingresa</button>
  </form>
    <p>¿Aún no tienes cuenta? <a href="/registro">Regístrate</a></p>
</div>

<script>
    document.getElementById("formIngreso").addEventListener("submit", async (event) => {
    event.preventDefault();
    let [email, password] = document.querySelectorAll("input");
    try {
      const { data } = await axios.post('/ingresos', {
        email: email.value,
        password: password.value
      });
      //enviar datos de playlist a local storage en el token
      localStorage.setItem("token", data.token);
      //axios.defaults.headers.common['Authorization'] = localStorage.getItem("token");
      console.log(data);
      window.location.href = '/agregarcanciones/';
    } catch (e) {
      alert(e.response.data);
    }
  });
</script>