<div class="py-4">
    <h2>Datos del perfil</h2>
    <hr class="w-50" />

    <form>
        <div class="form-group row w-50 m-auto">
            <div class="form-group col-12 col-sm-6">
                <label>Nuevo email</label>
                <input type="email" name="email" class="form-control m-auto" value="cambio@cambio.com" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Nuevo nombre</label>
                <input name="nombre" class="form-control m-auto" value="Cambio" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Nuevo apellido</label>
                <input name="apellido" class="form-control m-auto" value="Cambio" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Password</label>
                <input id="pass1" type="password" class="form-control m-auto"value="encriptadacambio" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Confirme nuevo password</label>
                <input id="pass2" name="password" type="password" class="form-control m-auto" value="encriptadacambio" />
            </div>
            <div class="form-group col-12 col-sm-6">
                <label>Nueva fecha de muerte</label>
                <input type="date" class="form-control m-auto" value="" />
            </div>

        </div>
        <div class="mb-1">
            <button class="btn btn-primary" id="updateBtn">Actualizar</button>
        </div>
        <div>
        </div>
    </form>
    <button class="btn btn-danger" id="deleteBtn">Eliminar cuenta</button>
</div>

<script>
    //verificar token
    const token = localStorage.getItem('token');
    if (!token) {
        alert("Debes iniciar sesión para configurar un perfil");
        window.location.replace("/ingreso");
    }

    //editar usuario
    const form = document.querySelector("form");
    document.querySelector("form").addEventListener("submit", async (e) => {
        e.preventDefault();

        //passwords deben coincidir
        const pass1 = document.querySelector("#pass1").value;
        const pass2 = document.querySelector("#pass2").value;
        if (pass1 !== pass2) {
            alert("Las contraseñas deben coincidir");
            return;
        }

        //obtener id del usuario
        //const datos_usuario = localStorage.getItem('datos usuario');
        

          try {
            const response = await axios.put(`/usuarios/${id_usuario}`, {
                email: document.querySelector("input[name='email']").value,
                nombre: document.querySelector("input[name='nombre']").value,
                apellido: document.querySelector("input[name='apellido']").value,
                password: document.querySelector("input[name='password']").value,
                fecha_muerte: document.querySelector("input[type='date']").value,
            });
            console.log(response.data);
            alert("Perfil actualizado");
            //actualizar página
            window.location.reload();
        } catch (e) {
            console.log(e.response.data);
            alert(e.response.data);
        }
    });  
</script>